<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoDePerfil.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan Pablo Gonzalez</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio numquam molestias nostrum distinctio
                possimus sequi nemo quibusdam laudantium iusto. Debitis aliquid earum natus perspiciatis aliquam
                voluptate qui libero iste voluptatum.
            </p>
        </span>
    </div>
</div>
