<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnicatura Universitaria en Programación - UTN</h1> -
                <h3>(2022 - 2024)</h3>
            </li>
            <p>
            </p>
        </ul>
        <ul>
            <li>
                <h1>Titulo Técnico en Electrónica - Esc. Tecnica N°1 "Otto Krause"</h1> -
                <h3>(2016 - 2021)</h3>
            </li>
            <p>
            </p>
        </ul>
        <ul>
            <li>
                <h1>Egresado de la primaria</h1> -
                <h3>(2007 - 2015)</h3>
            </li>
            <p>
            </p>
        </ul>
    </div>
</div>
