<div class="row">
    <h1>Hard & Soft SKills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="20" 
            [radius]="100"
            [imageSrc]="'../assets/html-logo.png'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="17" 
            [radius]="100"
            [imageSrc]="'../assets/CSS-Logo.png'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="15" 
            [radius]="100"
            [imageSrc]="'../assets/logo-javascript.png'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="30" 
            [radius]="100"
            [imageSrc]="'../assets/github.png'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="10" 
            [radius]="100"
            [imageSrc]="'../assets/'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="10" 
            [radius]="100"
            [imageSrc]="'../assets/'"
            [showImage]="true" 
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
</div>
